body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 53px 0 53px 0;

  width: 1200px;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    font-family: Jost serif;
    font-size: 24px;

    width: 243px;
    height: 25px;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    height: 50px;
  }
}

.banner {
  width: 1200px;
  height: 758px;
  background: url("assets/index/banner.png") top -541px left -93px;
  border-radius: 70px;

  &__content-wrapper {
    position: relative;
    top: 220px;
    left: 65px;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__maintext {
    height: 162px;
    width: 434px;

    color: rgb(41, 47, 54);
    font-family: DM Serif Display, serif;
    font-size: 65px;
    font-weight: 600;
    line-height: 125%;
    text-align: left;
  }
  &__smalltext {
    height: 66px;
    width: 434px;

    color: rgb(77, 80, 83);
    font-family: Jost, serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
  }
  &__button {
    display: flex;
    gap: 15px;
    justify-content: center;
    border-radius: 18px;
    box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
    background: rgb(41, 47, 54);

    width: 220.14px;
    height: 75px;


    align-items: center;
    padding: 26px 40px 26px 48px;

    color: rgb(255, 255, 255);
    font-family: Jost, serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 125%;
    text-align: center;

    img {
      width: 21px;
      height: 18px;
    }
  }
}

.project {
  margin: 93px 0 93px 0;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 93px;
  }

  &__maintext {
    height: 63px;
    width: 451px;

    color: rgb(41, 47, 54);
    font-family: DM Serif Display, serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
  }
  &__smalltext {
    height: 66px;
    width: 737px;

    color: rgb(77, 80, 83);
    font-family: Jost, serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
  }

  &__examples {
    display: grid;
    grid-template-areas:
      "a b"
      "c d";
    gap: 150px;
  }

  &__img {
    height: 548px;
    width: 525px;
  }
  &__card {
    height: 548px;
    width: 525px;

    &-controls {
      display: flex;
      justify-content: space-between;
      height: 70px;
      margin: 10px 0 54px 0;
    }
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &_main {
        color: rgb(41, 47, 54);
        font-family: DM Serif Display, serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 125%;
        text-align: left;
      }
      &_small {
        color: rgb(77, 80, 83);
        font-family: Jost, serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
      }
    }
    &-button {
      background: rgb(244, 240, 236);
      border-radius: 70px;
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 16px;
        width: 8px;
      }
    }

  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }

  #card-a {
    grid-area: a;
    border-top-right-radius: 70px;
  }
  #card-b {
    grid-area: b;
    border-top-left-radius: 70px;
  }
  #card-c {
    grid-area: c;
    border-bottom-right-radius: 70px;
  }
  #card-d {
    grid-area: d;
    border-bottom-left-radius: 70px;
  }
}


.counter {
  display: flex;
  background: rgb(244, 240, 236);
  justify-content: center;
  align-items: center;
  gap: 54px;

  margin: 96px 0 96px 0;
  height: 457px;
  width: 100%;

  &__single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 192px;
    height: 155px;

    &-number {
      color: rgb(205, 162, 116);
      font-family: DM Serif Display, serif;
      font-size: 85px;
      font-weight: 400;
      line-height: 125%;
      text-align: left;
    }
    &-text {
      color: rgb(77, 80, 83);
      font-family: Jost, serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 150%;
      text-align: left;
    }
  }
}

.post__wrapper {
  display: flex;
  gap: 27px;
}

.blog {
  .small_button {
    width: 52px;
    height: 52px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;

  &__img {
    position: relative;
    bottom: 50px;
    right: 70px;
  }

  &__headline {
    color: rgb(41, 47, 54);
    font-family: DM Serif Display, serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 125%;
    text-align: left;

    width: 305px;
    height: 70px;

    margin-top: 20px;
  }

  &__datebutton {
    display: flex;
    justify-content: space-between;
    width: 340px;
    height: 52px;

    margin-top: 50px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 52px;
  }

  &__post {
    height: 525px;
    width: 334px;

    border-radius: 70px;
    border: rgb(244, 240, 236) 2px solid;
    padding: 21px;
    &-img {
      height: 320px;
      border-top-left-radius: 70px;
      border-top-right-radius: 70px;
      overflow:hidden;
    }
    &-text {
      position: relative;
      top: 260px;
      left: 15px;
      border-radius: 8px 8px 8px 0;

      width: 124px;
      height: 41px;
      background: white;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      background: rgb(244, 240, 236);
    }

    &:hover .project__card-button {
      background: white;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 100px 0 100px 0;

  &__logo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &-img {
      width: 167px;
      height: 50px;
    }
    &-text {
      width: 385px;
      color: rgb(77, 80, 83);
      font-family: Jost, serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 150%;
      text-align: left;
    }
    &-socials {
      display: flex;
      gap: 54px;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
  &__pages {
    display: flex;
    flex-direction: column;
    width: 125px;
    position: relative;
    right: 80px;

    &-links {
      color: rgb(77, 80, 83);
      font-family: Jost, serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 300%;
      text-align: left;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    width: 258px;
    &-line {
      color: rgb(77, 80, 83);
      font-family: Jost, serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 300%;
      text-align: left;
    }
  }
}

.bold {
  font-weight: 600;
}
