body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 53px 0 53px 0;
  width: 1200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  font-family: Jost serif;
  font-size: 24px;
  width: 243px;
  height: 25px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  height: 50px;
}

.banner {
  width: 1200px;
  height: 758px;
  background: url("assets/index/banner.png") top -541px left -93px;
  border-radius: 70px;
}
.banner__content-wrapper {
  position: relative;
  top: 220px;
  left: 65px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner__maintext {
  height: 162px;
  width: 434px;
  color: rgb(41, 47, 54);
  font-family: DM Serif Display, serif;
  font-size: 65px;
  font-weight: 600;
  line-height: 125%;
  text-align: left;
}
.banner__smalltext {
  height: 66px;
  width: 434px;
  color: rgb(77, 80, 83);
  font-family: Jost, serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}
.banner__button {
  display: flex;
  gap: 15px;
  justify-content: center;
  border-radius: 18px;
  box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
  background: rgb(41, 47, 54);
  width: 220.14px;
  height: 75px;
  align-items: center;
  padding: 26px 40px 26px 48px;
  color: rgb(255, 255, 255);
  font-family: Jost, serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
}
.banner__button img {
  width: 21px;
  height: 18px;
}

.project {
  margin: 93px 0 93px 0;
}
.project__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 93px;
}
.project__maintext {
  height: 63px;
  width: 451px;
  color: rgb(41, 47, 54);
  font-family: DM Serif Display, serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  text-align: center;
}
.project__smalltext {
  height: 66px;
  width: 737px;
  color: rgb(77, 80, 83);
  font-family: Jost, serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}
.project__examples {
  display: grid;
  grid-template-areas: "a b" "c d";
  gap: 150px;
}
.project__img {
  height: 548px;
  width: 525px;
}
.project__card {
  height: 548px;
  width: 525px;
}
.project__card-controls {
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin: 10px 0 54px 0;
}
.project__card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project__card-text_main {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display, serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 125%;
  text-align: left;
}
.project__card-text_small {
  color: rgb(77, 80, 83);
  font-family: Jost, serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}
.project__card-button {
  background: rgb(244, 240, 236);
  border-radius: 70px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project__card-button img {
  height: 16px;
  width: 8px;
}
.project__controls {
  display: flex;
  justify-content: space-between;
}
.project #card-a {
  grid-area: a;
  border-top-right-radius: 70px;
}
.project #card-b {
  grid-area: b;
  border-top-left-radius: 70px;
}
.project #card-c {
  grid-area: c;
  border-bottom-right-radius: 70px;
}
.project #card-d {
  grid-area: d;
  border-bottom-left-radius: 70px;
}

.counter {
  display: flex;
  background: rgb(244, 240, 236);
  justify-content: center;
  align-items: center;
  gap: 54px;
  margin: 96px 0 96px 0;
  height: 457px;
  width: 100%;
}
.counter__single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 155px;
}
.counter__single-number {
  color: rgb(205, 162, 116);
  font-family: DM Serif Display, serif;
  font-size: 85px;
  font-weight: 400;
  line-height: 125%;
  text-align: left;
}
.counter__single-text {
  color: rgb(77, 80, 83);
  font-family: Jost, serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}

.post__wrapper {
  display: flex;
  gap: 27px;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.blog .small_button {
  width: 52px;
  height: 52px;
}
.blog__img {
  position: relative;
  bottom: 50px;
  right: 70px;
}
.blog__headline {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display, serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 125%;
  text-align: left;
  width: 305px;
  height: 70px;
  margin-top: 20px;
}
.blog__datebutton {
  display: flex;
  justify-content: space-between;
  width: 340px;
  height: 52px;
  margin-top: 50px;
}
.blog__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 52px;
}
.blog__post {
  height: 525px;
  width: 334px;
  border-radius: 70px;
  border: rgb(244, 240, 236) 2px solid;
  padding: 21px;
}
.blog__post-img {
  height: 320px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  overflow: hidden;
}
.blog__post-text {
  position: relative;
  top: 260px;
  left: 15px;
  border-radius: 8px 8px 8px 0;
  width: 124px;
  height: 41px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog__post:hover {
  background: rgb(244, 240, 236);
}
.blog__post:hover .project__card-button {
  background: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-bottom: 100px;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__logo-img {
  width: 167px;
  height: 50px;
}
.footer__logo-text {
  width: 385px;
  color: rgb(77, 80, 83);
  font-family: Jost, serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}
.footer__logo-socials {
  display: flex;
  gap: 54px;
}
.footer__logo-socials img {
  width: 16px;
  height: 16px;
}
.footer__pages {
  display: flex;
  flex-direction: column;
  width: 125px;
  position: relative;
  right: 80px;
}
.footer__pages-links {
  color: rgb(77, 80, 83);
  font-family: Jost, serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 300%;
  text-align: left;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  width: 258px;
}
.footer__contacts-line {
  color: rgb(77, 80, 83);
  font-family: Jost, serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 300%;
  text-align: left;
}

.bold {
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
